*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* FONT */

@font-face {
    font-family: "MyFont";
    src: url("Assets/fonts/static/Inconsolata-Medium.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "MyBoldFont";
    src: url("Assets/fonts/static/Inconsolata-ExtraBold.ttf") format("truetype");
    font-weight: 800;
}

/* BACKGROUND */

body{
  height: 100vh;
  background: url("Assets/images/pattern-squiggly-line-bottom-desktop.svg") bottom left no-repeat fixed, url("Assets/images/pattern-squiggly-line-top.svg") top right no-repeat fixed, url("Assets/images/pattern-lines.svg") center no-repeat fixed, url("Assets/images/pattern-circle.svg") center right 20% no-repeat fixed, url("Assets/images/pattern-circle.svg") left top -100px no-repeat fixed, url("Assets/images/background-desktop.png");
     

}

/* FORM QUESTION */

.form-question{
    display: visible;
}

/* LOGO */

.logo{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

/* wRITE UP */

.write-up{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    font-family: "myFont", sans-serif;
    margin-top: 50px;
}

.h1{
    font-size: 60px;
    text-align: center;
    display: flex;
    align-self: center;
    justify-content: center;
    width: 80%;
    line-height: 1.3;
}

.sub{
    margin-top: 20px;
    word-spacing: 10px;
    font-size: 20px;
    color:  hsl(245, 15%, 58%);
}

/* FORM */

.form{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "myFont", sans-serif;
    color: white;
    margin-top: 50px;
    flex-direction: column;
}

.title{
    display: flex;
    text-align: right;
    margin-right: 33%;
    font-size: 18px;
    font-weight: 500;
}

/* UPLOAD FOR DRAG AND DROP */

.upload{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
   
}

.upload-area{
    margin-top: 20px;
    padding: 35px;
    border: 2px dashed grey;
    border-radius: 18px;
    width: 600px;
    text-align: center;
    background-color:hsl(248, 70%, 10%);
    
}

.upload-area:hover{
    border: 2px dashed blue;
    cursor: pointer;
}

.upload-area.error{
    border-color: red;
}

.upload-icon{
    margin-top: -20px;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: hsl(245, 19%, 35%);
    padding: 10px;
}



.p-upload{
    margin-top: 20px;
}

.first{
    display: block;
}

/* PREVIEW */
.preview{
    display: none;
}

.actions{
    margin-bottom: -15px;
    display: block;
}

#previewImg{
    margin-top: -10px;
    margin-bottom: 10px;
    border-radius: 10px;
    outline: 1px solid white;
}

.remove-btn,.change-btn{
    padding: 5px;
    font-family: "myFont", sans-serif;
    font-weight: 500;
    font-size: 15px;
    color: white;
    background-color: hsl(245, 19%, 35%);
    border-radius: 5px;
    border: none;

    transition: all 0.5s ease-out 0s;
   
}

.remove-btn:hover{
    scale: 1.1;
    margin-right: 10px;
}
.change-btn:hover{
    scale: 1.1;
    margin-left: 10px;
}

.info-1{
    display: flex;
    margin-top: 16px;
    gap: 10px;
    margin-left: -15%;
    color: hsl(245, 15%, 58%);
}

.error-mess-1{
    display: none;
    margin-top: 16px;
    gap: 10px;
    margin-left: -15%;
    color:  hsl(7, 71%, 60%);
}


/* FULL NAME */
.name-input{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 600px;
}

.full-name-input{
    border: 1px solid grey;
    padding: 15px;
    border-radius: 10px;
    background-color:hsl(248, 70%, 10%);
    outline: none;
    color: white;
}


/* EMAIL */
.email-input{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 600px;
}

.email-name-input{
    border: 1px solid grey;
    padding: 15px;
    border-radius: 10px;
    background-color:hsl(248, 70%, 10%);
    outline: none;
    color: white;
}



::placeholder{
    color: hsl(245, 15%, 58%);
    letter-spacing: 1px;
}

.email-error{
    display: none;
    font-size: 14px;
    gap: 10px;
    color:  hsl(7, 71%, 60%);
}



/* GITHUB USERNAME */
.github-input{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 600px;
}

.github-name-input{
    border: 1px solid grey;
    padding: 15px;
    border-radius: 10px;
    background-color:hsl(248, 70%, 10%);
    outline: none;
    color: white;
}



.submit-btn{
    margin-top: 30px;
    margin-bottom: 200px;
    padding: 15px;
    width: 600px;
    border: none;
    border-radius: 9px;
    background-color: orangered;
    font-size: 16px;
    font-family: "MyBoldFont", sans-serif;
}

.submit-btn:hover{
    background-color:  hsl(7, 88%, 67%);
    cursor: pointer;
}

/* TICKET */

.ticket{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display:none;
}

/* WRITE UP */
.ticket-write-up{
    margin-top: 50px;
    color: white;
    font-family: "myFont", sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.ticket-h2{
    display: flex;
    justify-content: center;
}

.tic-h2{
    font-size: 60px;
    text-align: center;
    width: 60%;
    line-height: 1.4;
}

.highlight{
    background: linear-gradient(to right,  hsl(7, 86%, 67%),hsl(0, 0%, 100%));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 300% 399%;
}

.ticket-sup{
    margin-top: 35px;
    width: 37%;
    text-align: center;
    font-size: 27px;
    line-height: 1.2;
    color: hsl(245, 15%, 58%);
}

.p-high{
    color: hsl(7, 71%, 60%);
}

.tic-img{
    position: relative;
    background: url("Assets/images/pattern-ticket.svg");
    width: 600px;
    height: 280px;
    background-size: cover;
    background-position: center;
    margin-top: 70px;
    margin-bottom: 100px;
}

.ticket-number{
    display: flex;
    justify-content: flex-end;

   
}

.number{
    writing-mode: vertical-lr;
     margin-top: -210px;
    margin-right: 30px;
    font-size: 40px;
    color: grey;
}

.ticket-information{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.ticket-words{
    color: white;
  font-size: 20px;
  font-weight: 500;
  padding: 20px;

}

.tic-logo{
    width: 220px;
}

.date-and-time{
    font-size: 15px;
    margin-top: 10px;
    margin-left: 50px;
    color: hsl(245, 15%, 58%);
}


.user-information{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    margin-top: 30px;
    padding: 20px;
    gap: 15px;
}


.image-avatar{
    width: 80px;
    height: 85px;
    border-radius: 10px;
    display: none;
}

.user-text{
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.us-name{
    font-size: 25px;
}

.user-github{
    display: flex;
    gap: 12px;
}

.github-name{
    margin-top: 3px;
}

@media only screen and (max-width: 600px) {
    body{
        width: 90vw;
        height: 120%;
        background:url("Assets/images/pattern-squiggly-line-bottom-mobile-tablet.svg") bottom left / 170px no-repeat fixed , 
        url("Assets/images/pattern-squiggly-line-top.svg") top right / 170px no-repeat fixed,  
        url("Assets/images/pattern-lines.svg") center no-repeat fixed,  url("Assets/images/pattern-circle.svg") left top / 170px no-repeat fixed,
        url("Assets/images/background-mobile.png") fixed ;

    }

    /* FORM QUESTION */

.form-question{
    display: visible;
}

/* LOGO */

.logo{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

/* wRITE UP */

.write-up{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    font-family: "myFont", sans-serif;
    margin-top: 50px;
}

.h1{
    font-size: 25px;
    text-align: center;
    display: flex;
    align-self: center;
    justify-content: center;
    width: 90%;
    line-height: 1.3;
}


.sub{
    margin: 0 auto;
    text-align: center;
    word-spacing: 2px;
    margin-top: 15px;
    line-height: 1.2;
}

/* FORM */

.form{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "myFont", sans-serif;
    color: white;
    margin-top: 50px;
    flex-direction: column;
    margin-left: 30px;
}

.title{
    display: flex;
    text-align: right;
    margin-right: 52%;
    font-size: 18px;
    font-weight: 500;
}

/* UPLOAD FOR DRAG AND DROP */

.upload{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
   
}

.upload-area{
    margin-top: 20px;
    padding: 35px;
    border: 2px dashed grey;
    border-radius: 18px;
    width: 80vw;
    text-align: center;
    background-color:hsl(248, 70%, 10%);
    
}

.upload-area:hover{
    border: 2px dashed blue;
    cursor: pointer;
}

.upload-area.error{
    border-color: red;
}

.upload-icon{
    margin-top: -20px;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: hsl(245, 19%, 35%);
    padding: 10px;
}



.p-upload{
    margin-top: 20px;
}

.first{
    display: block;
}

/* PREVIEW */
.preview{
    display: none;
}

.actions{
    margin-bottom: -15px;
    display: block;
}

#previewImg{
    margin-top: -10px;
    margin-bottom: 10px;
    border-radius: 10px;
    outline: 1px solid white;
}

.remove-btn,.change-btn{
    padding: 5px;
    font-family: "myFont", sans-serif;
    font-weight: 500;
    font-size: 15px;
    color: white;
    background-color: hsl(245, 19%, 35%);
    border-radius: 5px;
    border: none;

  
   
}

.remove-btn:hover{
 
    margin-right: 10px;
}
.change-btn:hover{
    scale: 1.1;
    margin-left: 10px;
}

.info-1{
    display: flex;
    margin-top: 16px;
    gap: 10px;
    margin-left: -3%;
    color: hsl(245, 15%, 58%);
}

.error-mess-1{
    display: none;
    margin-top: 16px;
    gap: 10px;
    margin-left: -3%;
    color:  hsl(7, 71%, 60%);
}

.error{
    font-size: 12px;
}


/* FULL NAME */
.name-input{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 85vw;
}

.full-name-input{
    border: 1px solid grey;
    padding: 15px;
    border-radius: 10px;
    background-color:hsl(248, 70%, 10%);
    outline: none;
    color: white;
}


/* EMAIL */
.email-input{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 85vw;
}

.email-name-input{
    border: 1px solid grey;
    padding: 15px;
    border-radius: 10px;
    background-color:hsl(248, 70%, 10%);
    outline: none;
    color: white;
}



::placeholder{
    color: hsl(245, 15%, 58%);
    letter-spacing: 1px;
}

.email-error{
    display: none;
    font-size: 14px;
    gap: 10px;
    color:  hsl(7, 71%, 60%);
}



/* GITHUB USERNAME */
.github-input{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width:  85vw;
}

.github-name-input{
    border: 1px solid grey;
    padding: 15px;
    border-radius: 10px;
    background-color:hsl(248, 70%, 10%);
    outline: none;
    color: white;
}



.submit-btn{
    margin-top: 30px;
    margin-bottom: 200px;
    padding: 15px;
    width: 85vw;
    border: none;
    border-radius: 9px;
    background-color: orangered;
    font-size: 16px;
    font-family: "MyBoldFont", sans-serif;
}

.submit-btn:hover{
    background-color:  hsl(7, 88%, 67%);
    cursor: pointer;
}

/* TICKET */

.ticket{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: none;
}

/* WRITE UP */
.ticket-write-up{
    margin-top: 50px;
    color: white;
    font-family: "myFont", sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.ticket-h2{
    display: flex;
    justify-content: center;
    align-items: center;
     margin: 0 auto;
}

.tic-h2{
    width: 90vw;
   margin-left: 25px;
    font-size: 35px;
    text-align: center;
}

.highlight{
    background: linear-gradient(to right,  hsl(7, 86%, 67%),hsl(0, 0%, 100%));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 300% 399%;
}

.ticket-sup{
    margin-top: 40px;
    width: 95vw;
    text-align: center;
    font-size: 20px;
    line-height: 1.2;
    color: hsl(245, 15%, 58%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.tic-p{
    margin-left: 30px;
}

.p-high{
    color: hsl(7, 71%, 60%);
}

/* .tic-img{
    position: relative;
    background: url("Assets/images/pattern-ticket.svg") center / 170px  no-repeat;
    height: 30vh;
    margin-bottom: 50px;
  
} */

.tic-img{
    width: 90vw;
    border-left: 1px solid white;
    border-right: 1px solid pink;
    border-radius: 10px;
    height: 25vh;
    margin-left: 40px;
}

.ticket-number{
    display: flex;
    justify-content: flex-end;
    align-items: center;
   
}

.number{
    writing-mode: vertical-lr;
    margin-bottom: 40px;
    margin-left: 10%;
    font-size: 20px;
    color: grey;
}

.ticket-information{
    display: flex;
    flex-direction: column;
    
}

.ticket-words{
    color: white;
    font-size: px;
    font-weight: 500;
    display: flex;
    flex-direction: column; 
    align-items: flex-start;  
    margin-bottom: 0;
    margin-top: -3px;
}


.date-and-time{
    font-size: 12px;
    margin-top: -2px;
    color: hsl(245, 15%, 58%);
}


.user-information{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: -16px;
    padding: 10px;
    margin-left: -20%;
}


.image-avatar{
    width: 80px;
    height: 85px;
    border-radius: 10px;
    display: flex;
    margin-top: -10%;
}

.user-text{
    margin-top: 20px;
    display: flex;
    flex-direction: column;

}

.us-name{
    font-size: 20px;
    margin-bottom: -8px;
}

.user-github{
    display: flex;
    gap: 12px;
    margin-bottom: 10px;
}

.github-name{
    font-size: 13px;
}


  
}

